<!DOCTYPE html>
<html>
<head>
    <title>Защита паролем</title>
</head>
<body>
    <h1>Установите пароль для шифрования</h1>
    <form method="post" action="/encrypt">
        <input type="hidden" name="mnemonic" value="{{ mnemonic }}">
        <label for="wallet_name">Имя файла кошелька:</label>
        <input type="text" name="wallet_name" id="wallet_name" value="{{ wallet_name }}" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <button type="submit">Сохранить кошелек</button>
    </form>
</body>
</html>